


.carousel-caption p{
    color: black;
    background-color: rgba(255,255,255, 0.7);
}

.carousel-caption h5{
    color: black;
    background-color: rgba(255,255,255, 0.7);
}


.titulo {
    text-align: center;
}

.border {
    border: solid;
}

.sizeImage {
    height: 60vh;
}

/* pagina servicios */

.introServicios {
    height: 30vh;
    text-align: center;
    background-color: rgb(253, 230, 129);
}

.tiposServicios div {
    background-color: rgb(253, 230, 129);
    text-align: center;
}

/* secciones index */

.secciones {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    background-color: rgb(253, 230, 129);
}

.mobile aside img {
    display: none;
}

/* carousel */

.contenedorCarousel .carousel img {
    object-fit: cover;
    /*object-position: right;*/
    height: 90vh;
}

/* footer */

.pie {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.rrss ul li {
    list-style-type: none;
}

.rrss ul li svg{
    display: inline;
    text-align: center;
}

.rrss {
    text-align: center;
}

.ayuda {
    align-items: flex-start;
    text-align: center;
}

.final {
    background-color:slategray;
}

/* imagen de intro de cada pagina */

.introImg {
    height: 70vh;
}

/* pagina nosotros */

.introNosotros {
    text-align: center;
    background-color: rgb(253, 230, 129);
}

/* paginas preguntas */
.preguntas {
    height: 75vh;
}

/* pagina formulario */
.formularioLocal {
    text-align: center;
    background-color: rgb(253, 230, 129);
}

.direccion {
    align-items: center;
    text-align: center;
    background-color: rgb(253, 230, 129);
    margin-top: 2%;
}

iframe {
    width: 100%;
}

@media (min-width: 800px) {

    /* secciones index responsive */
    
    .mobile {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        background-color: rgb(253, 230, 129);
    }

    .mobile aside img {
        display:initial;
    }

    /* footer responsive */

    .pie {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* pagina servicios responsive */
    .tiposServicios div {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: rgb(253, 230, 129);
        text-align: center;
    }

}
